{% extends 'userAuth/layout-landing.html' %}
{% load static %}
{% block content %}
<section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
            {% if request.user.is_authenticated %}
            <h1 data-aos="fade-up">Welcome {{request.user.username}}</h1>
            {% else %}
          <h1 data-aos="fade-up">Welcome to Futsal Pro</h1>
          {% endif %}
          <h2 data-aos="fade-up" data-aos-delay="400" style="font-size: 14px; color: #289b90;">We provide cutting-edge solutions to elevate your futsal experience and take your game to new heights. Whether you're a player, a team, or a futsal enthusiast, our modern solutions are tailored to help you grow and succeed.</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="{% url 'futsal_list' %}" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Book Now</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <!-- <img src="{% static 'img/hero-img.png' %} class="img-fluid" alt=""> -->
          <img src="{% static 'img/bg-1.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    {% if request.user.is_authenticated %}
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
          <div class="container" data-aos="fade-up">
             <header class="section-header">
                <h2>Futsal</h2>
                <p>Find the best futsal for you</p>
             </header>
       
             <div class="row" data-aos="fade-up" data-aos-delay="100">
              <div class="col-lg-12 d-flex justify-content-center">
                 <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    {% for futsal_type in futsal_types %}
                       <li data-filter=".filter-{{ futsal_type }}">
                          {{ futsal_type }}
                       </li>
                    {% endfor %}
                 </ul>
              </div>
           </div>
           
           
           <style>
            /* Add this to your existing CSS */
.fixed-size-image {
   height: 400px; /* Adjust the height as needed */
   object-fit: cover; /* Maintain aspect ratio and cover the container */
}

           </style>
       
           <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
            {% for futsal in futsals %}
               <div class="col-lg-4 col-md-6 portfolio-item filter-{{ futsal.futsal_type }}">
                  <div class="portfolio-wrap">
                     {% if futsal.images %}
                        <img src="{{ futsal.images.url }}" class="img-fluid fixed-size-image" alt="{{ futsal.name }}">
                     {% endif %}
                     <div class="portfolio-info">
                        <h4>{{ futsal.name }}</h4>
                        <p>{{ futsal.futsal_type }}-Side</p>
                        <!-- Add more details as needed -->
                        <div class="portfolio-links">
                           {% if futsal.images %}
                              <a href="{{ futsal.images.url }}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="{{ futsal.name }}"><i class="bi bi-plus"></i></a>
                              <button class="btn btn-success">Book Now</button>
                           {% endif %}
                           <!-- Add more links as needed -->
                        </div>
                     </div>
                  </div>
               </div>
            {% endfor %}
         </div>
         
           
          </div>
       </section>
       
          <!-- End Portfolio Section -->
          {% else %}      
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Who We Are</h3>
              <h2>Empowering Futsal Enthusiasts Worldwide.</h2>
              <p>
                At Futsal Pro, we're passionate about elevating the futsal experience globally. Discover our commitment to excellence, community, and innovation. Join us in celebrating the love for the game!
              </p>
              <div class="text-center text-lg-start">
                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Read More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="{% static 'img/who-des.png' %}" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->

    <!-- ======= Values Section ======= -->


    <!-- ======= Counts Section ======= -->
    <!-- <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                <p>Happy Clients</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                <p>Projects</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-headset" style="color: #15be56;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                <p>Hours Of Support</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-people" style="color: #bb0852;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                <p>Hard Workers</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> -->
    <!-- End Counts Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-12 text-center">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>Koteshwor,Kathmandu</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>(+977) 980 519 1193</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>uzumakigharti7@gmail.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p>Monday - Friday<br>9:00AM - 05:00PM</p>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

    </section><!-- End Contact Section -->
    {% endif %}

    

{% endblock content %}