{% extends 'userAuth/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/form__group.css' %}">
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card my-5">

                <form class="card-body cardbody-color p-lg-5" method="POST">

                    <div class="text-center">
                        <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png"
                            class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px"
                            alt="profile">
                    </div>

                    {% csrf_token %}

                    {% for field in form %}
                    <div class="form__group form__group">
                      {{ field }}
                  </div>
                  
                  
                  
                    {% endfor %}

                    <div class="text-center ">
                        <button type="submit" class="btn btn-info px-5 mb-5 ">Register</button>
                    </div>
                    <div id="emailHelp" class="form-text text-center text-dark">
                        Have Account? <a href="{% url 'login' %}" class="text-dark fw-bold"> Login</a>
                    </div>
                    <div id="emailHelp" class="form-text text-center mb-5 text-dark">
                        Register Owner? <a href="{% url 'owner_register' %}" class="text-dark fw-bold"> Owner Register</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
