{% extends 'adminHome/main.html' %}
{% load static %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">Total User</p>
                  <h5 class="font-weight-bolder mb-0">
                    {{total_users}}
                    <!-- <span class="text-success text-sm font-weight-bolder">+55%</span> -->
                  </h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                  <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">Total Futsals</p>
                  <h5 class="font-weight-bolder mb-0">
                    {{total_futsals}}
                    <!-- <span class="text-success text-sm font-weight-bolder">+3%</span> -->
                  </h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                  <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">Total Bookings</p>
                  <h5 class="font-weight-bolder mb-0">
                    {{total_bookings}}
                    <!-- <span class="text-danger text-sm font-weight-bolder">-2%</span> -->
                  </h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                  <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">Total Earnings</p>
                  <h5 class="font-weight-bolder mb-0">
                   Rs {{total_money_earned}}
                  </h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                  <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-7 mb-lg-0 mb-4">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <h5 class="font-weight-bolder mb-2 text-center">Top booked futsal of the week</h5>
              <div class="col-lg-6">
                <div class="card">
                  <div class="d-flex flex-column h-100">
                    <!-- <p class="mb-1 pt-2 text-bold">Built by developers</p> -->
                    {% if most_booked_futsal_for_week %}
                    <p class="mb-1 font-weight-bold">Name: {{ most_booked_futsal_for_week.0.name }}</p>
                    <p class="mb-1 font-weight-bold">Location: {{ most_booked_futsal_for_week.0.location }}</p>
                    <p class="mb-5 font-weight-bold">Price: {{ most_booked_futsal_for_week.0.price }}</p>
                {% else %}
                    <p class="font-weight-bold">No futsal has been booked for the current week.</p>
                {% endif %}
                
                  </div>
                </div>
              </div>
              <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
                <div class="border-radius-lg h-100">
                  <div class="position-relative d-flex align-items-center justify-content-center h-100">
                    {% if most_booked_futsal_for_week %}
                      <div class="image-container border rounded overflow-hidden">
                        <img class="w-100" src="{{ most_booked_futsal_for_week.0.images.url }}" alt="{{ most_booked_futsal_for_week.0.name }}">
                      </div>
                    {% else %}
                      <p class="m-0">No futsal has been booked for the current week.</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="card h-100 p-3">
          <div class="overflow-hidden position-relative border-radius-lg bg-cover h-100" style="background-image: url('../assets/img/ivancik.jpg');">
            <span class="mask bg-gradient-dark"></span>
            <div class="card-body position-relative z-index-1 d-flex flex-column justify-content-center align-items-center h-100 p-3">
              <h5 class="text-white font-weight-bolder mb-4 pt-2 text-center">Money Earned by Futsals</h5>
              <div class="text-white w-100">
                {% for futsal, money_earned in total_money_earned_by_futsals.items %}
                <div class="card mb-1">
                  <span class="text-dark text-center p-2" style="font-weight: 600;">{{ futsal }}: Rs {{ money_earned }}</span>
                </div>
                {% endfor %}
              </div>
              <!-- <a class="text-white text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="javascript:;">
                Read More
                <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
              </a> -->
            </div>
          </div>
        </div>
      </div>
      
      
    </div>


  </div>
{% endblock content %}