{% extends 'adminHome/main.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="card p-3">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn btn-success float mt-1">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
